*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,body,.wrap-page{
	height:100%;
}

.wrap-page{
	-wekit-overflow-scrolling:touch;
}

.fixed-top{
	position: fixed;
	top:0;
	left: 0;
	right:0;
	z-index:960;
	height:44px;
}

.fixed-bottom{
	position: fixed;
	left:0;
	right: 0;
	bottom: 0;
	z-index:940;
	height:44px;
}